body {
  margin: 40px 0;
  padding: 0 20px;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  color: #202020;
  background-color: #EEE;
}

.container {
  display: grid;
  max-width: 1400px;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.container p {
  margin: 10px;
}

.container .pokemon {
  width: 90%;
  background-color: white;
  background-clip: border-box;
  border: 2px solid #330099;
  border-radius: 0.25rem;
  overflow: hidden;
  margin-bottom: 20px;
}

.container .pokemonHPCP {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 10px;
}

.container .pokemonHPCP span {
  color: #FFFFFF;
  background-color:  #330099;
  font-weight: bold;
  margin: 0;
  padding: 5px 20px;
  border-radius: 5px;
}



.container .pokemonImage {
  padding: 20px;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .pokemonImage img {
  max-width: 100%;
  height: auto;
}

.container .pokemonAttacks {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
}

.container .pokemonAttacks span {
  width: 30%;
  border-radius: 3px;
  padding: 7px;
  font-weight: 700;
  color: #330099;
  border: 2px solid #330099;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  margin: 10px;
  word-wrap: break-down;
  text-align: center;
}


.container .pokemonName {
  background-color: #330099;
  text-align: center;
  padding: 10px;

}

.container .pokemonName p {
  font-weight: bold;
  color: white;
}

